<mat-card class="col-12 mb-3">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Simba</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <div class="option-icon">
      <button mat-button class="option-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <img src="../../assets/imgs/icons/option.png" width="20px" height="20px">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <app-post-option-dropdown></app-post-option-dropdown>
      </ul>
    </div>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <img src="../../assets/imgs/icons/like.png" width="20px" height="20px">
      LIKE
    </button>
    <button mat-button>
      <img src="../../assets/imgs/icons/comment.png" width="20px" height="20px">
      COMMENT
    </button>
    <button mat-button>
      <img src="../../assets/imgs/icons/share.png" width="20px" height="20px">
      SHARE
    </button>
  </mat-card-actions>
</mat-card>
